.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listWrapper {
    background-image: url(../../images/hotel-eko-signature2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    padding: 100px 100px 200px 100px;
    /* background-color: red; */
}

.listWrapper>h1 {
    color: white;
    font-weight: 500;
    font-size: 50px;
}

.listWrapper>:nth-child(2) {
    color: #B39759;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.listWrapper>:nth-child(3) {
    color: #B39759;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.listWrapper>:nth-child(4) {
    color: white;
    font-size: 18px;
    cursor: none;
    margin-right: 10px;
}

.link {
    text-decoration: none;
}

.listInfoWrapper {
    padding: 100px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.listInfoLogo>p {
    line-height: 25px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 300;
}

.lList {
    list-style: disc;
    padding: 10px 30px;
}

.lDropDown {
    margin-bottom: 10px;
}

.listDetailsTextsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 100px;
}

.listDetailsImgWrapper {
    flex: 1;
    z-index: -1;
}

.listDetailsImg {
    width: 100%;
    object-fit: cover;
}

.listDetailsTexts {
    flex: 1;
    z-index: 2;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.1);
    margin-left: -40px;
}

.listDetailsTexts>h2 {
    color: #15192E;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.listDetailsTexts>p {
    color: #15192E;
    /* letter-spacing: 1px; */
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.listDetailsText {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 100px;
}

.listDetailsText1 {
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    gap: 10px;
    font-size: 12px;
    width: 100%;
}

.listDetailsText1>span {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

/* .listDetailsText1>:nth-child(2) {
    text-align: right;
} */

.listDetailsTexts>button {
    padding: 15px;
    cursor: pointer;
    background-color: #B39759;
    color: white;
    font-weight: 500;
    border: none;
    margin: 20px 0;
}

.listDetailsTexts>button:hover {
    transition: .1s all ease-in-out;
    color: black;
    background-color: white;
    border: 1px solid #000;
}

@media screen and (max-width: 900px) {
    .listWrapper {
        padding: 50px 30px;
    }
    .listInfoWrapper {
        margin: 0;
        padding: 30px;
    }
    .listDetailsTextsContainer {
        padding: 30px;
        flex-direction: column;
    }
    .listDetailsTexts {
        margin-left: 0;
        margin-top: -20px;
    }
    .listDetailsText {
        gap: 50px;
    }
}